# Dataset -- trop volumineux pour Git (milliers d'images)
dataset_final/*
!dataset_final/data.yaml
signature_dataset_combined/
signature_dataset_combined_v2/
signature_dataset_resplit/
verif_bbox/
verif_conversion/

# Modeles IA -- sauf le modele final de signature
models/*
!models/yolov8s_signature_final.pt

# Checkpoints d'entrainement intermediaires
runs/

# Fichiers temporaires generes a l'execution
images_pretraitees/
*.jpg
*.jpeg
page_*.jpg

# Python
__pycache__/
*.pyc
*.pyo
.env

# Environnements virtuels
venv/
.venv/

# Fichiers systeme
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/